.features {
  ////////////////////////////// TABLET //////////////////////////////
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  ////////////////////////////// TABLET & PC //////////////////////////////
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.features__item {
  ////////////////////////////// MOBILE //////////////////////////////
  @media screen and (max-width: 767px) {
    min-width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  ////////////////////////////// TABLET //////////////////////////////
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    min-width: 354px;
  }

  ////////////////////////////// PC //////////////////////////////
  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title;
  margin-bottom: 10px;
  ////////////////////////////// MOBILE //////////////////////////////
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text;
}

.features__icons-wrap {
  background-color: $second-bg;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ////////////////////////////// PC //////////////////////////////
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}
