.footer__join {
  ////////////////////////////// MOBILE & TABLET //////////////////////////////
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  ////////////////////////////// PC //////////////////////////////
  @media screen and (min-width: 1200px) {
    display: block;
    margin-right: 93px;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $scnd-title;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  justify-content: center;
}

.join__button {
  background-color: $social-btn-bg-scnd;
  fill: $social-btn-fill-scnd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $active-btn-bg;
  }
}
