.team-list {
  ////////////////////////////// TABLET //////////////////////////////
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team-list__item {
  ////////////////////////////// MOBILE //////////////////////////////
  @media screen and (max-width: 767px) {
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  ////////////////////////////// TABLET //////////////////////////////
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
    // max-width: 354px;
  }

  ////////////////////////////// PC //////////////////////////////
  @media screen and (min-width: 1200px) {
    // width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-list__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $scnd-title;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  ////////////////////////////// PC //////////////////////////////
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title;
  margin-bottom: 10px;
}
.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text;
  margin-bottom: 16px;
}

.social__team {
  display: flex;
  justify-content: center;
}
