.portfolio-buttons__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons__btn {
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $unactive-btn-text;
  background-color: $unactive-btn-bg;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $active-btn-text;
    background-color: $active-btn-bg;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
