$title: #212121;
$scnd-title: #ffffff;
$main-text: #757575;
$light-logo: #ffffff;
$dark-logo: #000;
$accent: #2196f3;
$background: #2f303a;
$second-bg: #f5f4fa;
$active-btn-bg: #2196f3;
$active-btn-text: #ffffff;
$scnd-active-btn-bg: #188ce8;
$unactive-btn-bg: #f5f4fa;
$unactive-btn-text: #212121;
$social-btn-bg-frst: #ffffff;
$social-btn-fill-frst: #afb1b8;
$social-btn-bg-scnd: rgba(255, 255, 255, 0.1);
$social-btn-fill-scnd: #ffffff;
$clients-icon: #afb1b8;
$modal-bg: #ffffff;
